<launch>
	
	<!-- TF for position of LIDAR in robot -->
	<node pkg="tf" type="static_transform_publisher" name="tf_base_link_to_laser_frame" args="-0.178 0 0.15 0 0 0 1 base_link laser_frame 100" />

	<node pkg="tf" type="static_transform_publisher" name="tf_base_footprint_to_base_stabilized" args="0.00 0 -0.063 0 0 0 base_footprint base_stabilized 100" />

	<node pkg="tf" type="static_transform_publisher" name="tf_base_stabilized_to_base_link" args="0 0 0.15 0 0 0 1 base_stabilized base_link 100" />

	 <!-- Bring up RPLIDAR -->
	<node name="rplidarNode" pkg="rplidar_ros"  type="rplidarNode" output="screen">
		<param name="serial_port"         type="string" value="/dev/ttyUSB0" />  
		<param name="serial_baudrate"     type="int"    value="115200" />
		<param name="frame_id"            type="string" value="laser_frame" />
		<param name="inverted"            type="bool"   value="false" />
		<param name="angle_compensate"    type="bool"   value="true" />
	</node>

</launch>

