<launch>
  <group ns="/lysander">
    <arg name="do_debug" default="false" />
    <arg unless="$(arg do_debug)" name="prefix" value="" />
    <arg     if="$(arg do_debug)" name="prefix" value="xterm -e gdb --args" />
    
    
    <param name="/lysander/robot_description" command="$(find xacro)/xacro --inorder $(find motor_controller)/urdf/lysander.xacro" />

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find motor_controller)/config/controller.yaml" command="load" ns="/" />

    <node
	name="urdf_spawner"
	pkg="gazebo_ros"
	type="spawn_model"
	args="-z 1.0 -unpause -urdf -model lysander -param robot_description "
	respawn="false"
	output="screen">
    </node>
    
    <!-- load the controllers -->
    <node 
	name="controller_spawner" 
	pkg="controller_manager" 
	type="spawner" 
	respawn="false"
	output="screen" 
	ns="/lysander" 
	args="
	      --namespace=/lysander
	      diff_drive_controller
	      joint_state_controller
	      "/>
    
    <!-- send fake joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="TRUE"/>
    </node>
    
    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
      <param name="publish_frequency" type="double" value="30.0" />>
    </node>
    
    <!-- Start the motor controller -->
    <node name="motor_controller_node" pkg="motor_controller" type="WRDifferentialDrive_node" launch-prefix="$(arg prefix)" />
    
  </group>
</launch>
